// app global css in Stylus form
.game {
  width: 800px;
  height: 600px;
  border-radius: 5px;
  border: 2px solid #999;
  margin: 15px auto 0;
  display: flex;
}
.tasks {
  height: 100%;
  width: 80%;
  border-right: 2px solid #999;

 .pickup-cards {
   height: 60%;
   border-bottom: 2px solid #999;
  }
 .logo {
   height: 40%;
  }
}
.goals {
  height: 100%;
  width: 20%;

  .stats {
    height: 20%;
    border-bottom: 2px solid #999;

    .time-spent {
      margin: 15px 0 0 5px;
    }
    .score {
      margin: 10px 0 0 5px;
    }
  }
  .find-this-card {
    height 80%;
  }
}
